<html>
	<head>
		<title>The Gossip Project</title>
	</head>
	<body>
		<h1>Bienvenue dans notre site de gossip !</h1>

	  <p>Pour venir bitcher c'est pas ici, tu decouvriras bientot la liste de tous les gossip, XOXO</p>

    <a href="/gossips/new/">Ajouter un gossip</a>


	</body>
</html>
