<html>
	<head>
		<title>Un potin</title>
	</head>
	<body>
		<h2>Potin numero <%= variable[0] %></h2>
		<p style="margin: 10px 20px">auteur : <%= variable[1] %></p>
		<p style="margin: 10px 20px">potin : <%= variable[2] %></p>
		<a href="/gossips/<%= variable[0] %>/edit/">Editer</a><br/>
		<a href="/">Page d'accueil</a>
	</body>
</html>
